<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Design</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="foot">
            <div>
                <p>Nunc consequat interdum varius sit amet mattis.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
            <div>
                <h3>My account</h3>
                <div>
                    <p> <a href="#">Track my order</a></p>
                    <p> <a href="#">Terms of use</a></p>
                    <p><a href="#">Wishlist</a></p>
                    <p> <a href="#">Submit Your feedback</a></p>
                </div>
            </div>
            <div class="customer-service">
                <h3>Customer service</h3>
                <p>Monday to Saturday<br>LemonToy,393 phase plot no 1 shahzada bagh inderlok</p>
                <p>Call us: <a href="tel:9873834018">+91 9873834018</a></p>
                <p>Email us: <a href="mailto:lemontoy01@gmail.com">lemontoy01@gmail.com</a></p>
            </div>
        </div>
    </footer>
</body>

</html>